/*==== site repense o mundo! ====*/
/*==== desenvolvido por bibiana davila ===*/
/*==== ilustrações por tábata costa ===*/
/*==== projeto desenvolvido para o curso de Jornalismo da UFRGS ===*/
/*==== julho de 2018 ===*/


/*
    ********************************************************************************************************
*/

/* fontes! */
@font-face {
    font-family: 'Futura';
    src: url(../fonts/futura/FuturaPTBook.otf);
}
@font-face {
    font-family: 'Futura Bold';
    src: url(../fonts/futura/FuturaPTHeavy.otf);
}

/*
    ********************************************************************************************************
*//* geral */
body{
    font-family: 'Didact Gothic';
    font-size: 16pt;
    line-height: 20pt;
    max-width: 100vw;
    left: 0;
    overflow-x: hidden;
}
.site-wrapper{
	max-width: 100vw;
    overflow: hidden;
}
section {
    width: 100%;
    min-height: 480px;
    position: relative;
}
section article{
    z-index: 2;
    display: block;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    transition: .3s all ease;
}
section article .content-center{
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .3s all ease-out;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Futura';
}
h2{
    letter-spacing: 3px;
}
hr{
    width: 60%;
    margin: 15px 0px 30px 0px;
    border-top: 12px dotted #ffffff;
}
/* fundo */
.overlay-bg{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-image: url(../img/bg1.png);
    background-repeat: repeat;
    background-position-x: center;
    background-size: 40vw auto; 
    z-index: -1;
    transition: .3s all ease-in;
}
.overlay-bg.dois{
    background-image: url(../img/bg2.png);
    transition: .1s all ease-in;
}
/*
    ********************************************************************************************************
*//* home! */
.site-title{
    line-height: 60pt;
    font-size: 75pt;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.site-title span{
    margin-left: -5px;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: -10px;
    font-family: 'Futura Bold';
}
/*
    ********************************************************************************************************
*//* gotas! */
.bubble{
    float: inline-block;
}
#um{background-color: #c5eceac9;}
#dois{background-color: #89bdbac9;}
#tres{background-color: #e1dfcfb8;}
#quatro{background-color: #4ad19fad;}
#cinco{background-color: #5ab08cb8;}
#seis{background-color: #307e5db8;}

/* primeira! */
#prim .container{
	text-align: right;
}
#prim .bubble{
    float: none;
    display: inline-block;
    height: 540px;
    width: 540px;
    border-radius: 100% 0px 100% 100%;
    transform: rotate(-225deg);
    z-index: -1;
}
#prim .bubble-text{
    position: absolute;
    transform: rotate(225deg);
    margin-top: 84px;
    margin-left: 100px;
    width: 335px;
    height: 380px;
    padding-left: 8px;
    text-align: left;
}
#prim .bubble-img{
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
}
#prim .bubble-img img{
    max-width: 300px;
    transform: rotate(-25deg);
    transition: .2s all ease-in;
} 
/* segunda! */
#seg .bubble{
    float: none;
    position: relative;
    height: 540px;
    width: 540px;
    margin: auto;
    border-radius: 100% 0px 100% 100%;
    transform: rotate(-225deg);
    z-index: -1;
}
#seg .bubble-text{
    position: absolute;
    transform: rotate(225deg);
    margin-top: 84px;
    margin-left: 100px;
    width: 335px;
    height: 380px;
    padding-left: 8px;
}
#seg .bubble-img{
    width: 50%;
    float: left;
}
#seg .bubble-img2{
    width: 50%;
    float: left;
}
#seg .bubble-img img, #seg .bubble-img2 img{
    max-width: 70%;
}
#seg .bubble-img img.fish{
    transform: rotate(-50deg);
}
#seg .bubble-img2 img.fish2{
    transform: rotate(50deg);
}
/* terceiro! */
.title h1{
    font-family: 'Futura Bold';
}
/* quarto! */
#quar .bubble{
    float: none;
    display: inline-block;
    height: 540px;
    width: 540px;
    border-radius: 100% 0px 100% 100%;
    transform: rotate(-225deg);
    z-index: -1;
}
#quar .bubble-text{
    position: absolute;
    transform: rotate(225deg);
    margin-top: 84px;
    margin-left: 100px;
    width: 335px;
    height: 380px;
    padding-left: 8px;
    text-align: left;
}
#quar .bubble-img-container{
    display: inline-block;
    width: 50%;
}
#quar .bubble-img img{
    max-width: 300px;
    transform: rotate(-25deg);
    transition: .2s all ease-in;
} 
#quar .bubble-img2 img{
    max-width: 300px;
    transform: rotate(25deg);
    transition: .2s all ease-in;
} 
/* quinto! */
#qui .bubble{
    float: none;
    position: relative;
    height: 540px;
    width: 540px;
    margin: auto;
    border-radius: 100% 0px 100% 100%;
    transform: rotate(-225deg);
    z-index: -1;
}
#qui .bubble-text{
    position: absolute;
    transform: rotate(225deg);
    margin-top: 84px;
    margin-left: 100px;
    width: 335px;
    height: 380px;
    padding-left: 8px;
}
/* sexto! */
#sex .bubble{
    float: none;
    display: inline-block;
    position: relative;
    height: 540px;
    width: 540px;
    border-radius: 100% 0px 100% 100%;
    transform: rotate(-225deg);
    z-index: -1;
}
#sex .bubble-text{
    position: absolute;
    transform: rotate(225deg);
    margin-top: 84px;
    margin-left: 100px;
    width: 335px;
    height: 380px;
    padding-left: 8px;
}
.drop{
	width: 350px;
	transition: .2s all ease-in;
}
/* fim */
footer{
	background-color: #c6e2fa;
	padding: 15px 0px;
}
/*
    ********************************************************************************************************
*//*==== responsivo! ===*/
@media (max-width: 1199px){
    .site-title span{
        letter-spacing: -8px;
    }
    #prim .bubble-img{
        width: 45%;
        margin-left: -100px;
    }
    #prim .bubble-img img{
        max-width: 250px;
    } 
     #quar .bubble-img-container{
    	width: 40%;
    }
    #quar .bubble-img img,#quar .bubble-img2 img{
    	max-width: 250px;
    }
}
@media (max-width: 991px){
    body{
        font-size: 13pt;
        line-height: 15pt;
    }
    h2{
        font-size: 20pt;
    }
    hr{
        margin: 10px 0px 10px 0px;
    	border-top: 7px dotted #ffffff;
    }
    #prim .bubble, #seg .bubble, #quar .bubble, #qui .bubble, #sex .bubble{
        width: 430px;
        height: 430px;
    }
    #prim .bubble-img{
        width: 55%;
        margin-left: -175px;
    }
    #prim .bubble-img img{
        max-width: 200px;
    }
    #prim .bubble-text, #seg .bubble-text, #quar .bubble-text, #qui .bubble-text, #sex .bubble-text{
        width: 290px;
        height: 300px;
        margin-top: 60px;
        margin-left: 65px;
    }
    #quar .bubble-img-container{
    	width: 35%;
    }
    #quar .bubble-img img, #quar .bubble-img2 img{
    	max-width: 195px;
    }
}
@media (max-width: 767px){
    .site-title{
        font-size: 50pt;
        line-height: 40pt;
    }
    .site-title span{
        padding: 0px 15px;
    }
    #prim .bubble-img {
        width: 100%;
    	margin-left: 0px;
    }
    #prim .bubble-img img{
        max-width: 180px;
    	margin-left: 300px;
    	margin-top: 300px;
    }
    #quar .bubble-img-container{
    	width: 0px;
    }
    #quar .bubble-img img, #quar .bubble-img2 img{
    	max-width: 150px;
    }
    #seis, #quatro{
    	margin-bottom: 80px;
    }
}
@media (max-width: 479px){
    /* geral */
    body{
        font-size: 12pt;
        line-height: 16pt;
    }
    .site-title{
        font-size: 35pt;
        line-height: 28pt;
    }
    .site-title span{
        letter-spacing: -6px;
    }
    #prim .bubble-img {
    }
    #prim .bubble-img img{
        max-width: 130px;
    }
    #prim .bubble, #seg .bubble,#quar .bubble, #qui .bubble, #sex .bubble{
        width: 100%;
        height: 100%;
        border-radius: 50px;
        transform: none;
    }
    #prim .bubble-text, #seg .bubble-text, #quar .bubble-text, #qui .bubble-text, #sex .bubble-text{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 30px;
        transform: none;
    }
   #quar .bubble-img-container{
    	width: 100%;
    	text-align: center;
    }
    #quar .bubble-img, #quar .bubble-img2{
    	display: inline-block;
    	width: 30%;
    }
    #set .title{
    	padding: 15px;
    }
    .drop{
    	width: 185px;
    }
    .hide-xs{
    	display: none;
    }
}