

/*=== site home ===*/





.content{
	padding: 75px 0px 150px 0px;
}
.content-box{
	padding: 100px 50px 35px 50px;
	background-color: #FFF;
    border-left: 6px solid #000;
    border-top: 6px solid #000;
    border-right: 6px double#000;
    border-bottom: 6px double#000;
}
.content-box h2{
	text-align: center;
}

.img-up img{
	padding-right: 15px;
    width: 100%;
    vertical-align: top;
}



@media only screen and (max-width: 768px){
	.overlay-bg{
		background-size: 315px auto;
	}	
}



.section-transition{
	margin-bottom: -5px;
	width: 100%;
	height: 130px;
}
#um{background-color: #c5eceac9;}
#dois{background-color: #89bdbac9;}
#tres{background-color: #e1dfcf;}
#quatro{background-color: #5ab08c;}

.section-transition.home{
	fill: #c5eceac9;
}
.section-transition.um{
	background: #c5eceac9;
	fill: #89bdba;
}
.section-transition.dois{
	background: #89bdbac9;
	fill: #e1dfcf;
}
.section-transition.tres{
	background: #e1dfcf;
	fill: #5ab08c;
}
.section-transition.quatro{
	background: #5ab08c;
	fill: #3aa67c;
}



.gota{
	margin: auto;
	
}

.img-gt{
	height: 100%;
	width: 100%;
}
.img-gt img{
	transition: .2s all ease-in;
	max-height: 100%;  
    max-width: 350px; 
    width: auto;
    height: auto;
    position: absolute;  
    bottom: 0;  
    right: 0;  
    margin: auto;
}
.img-gt img.earth{
    transform: rotate(340deg);
}

.img-gt-rel img.fish{
	transition: .2s all ease;
	left: 0px;
	max-width: 400px;
    transform: rotate(0deg);
}
.img-gt-rel img.fish.ani{
    transform: rotate(-25deg);
}
